header {
  height: 60px;
  background-color: #333333;
  width: 100%;
  display: flex;
  position: relative;
}
* {
  padding: 0;
  margin: 0;
}
nav{
  top: 90px;
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: space-between;
  position: absolute;
  top: 100px;
}
.img1{
height: 100vh;
}
.pages{
  width:50%;
}
.links{

  width: 100%;
}
body{
display: flex;
align-items: center;
flex-direction: column;
height: 3000px;
width:100vw;
}
a{
text-decoration: none;
color: white;
}
.logo {
  min-width: 80px;
  height: 100%;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.devices div:hover {
  background-color: #222222;
}
.logo a,
.product a {
  text-decoration: none;
  width: 80%;
}
.product a {
  text-decoration: none;
  width: 80%;
  color: #9b9b9b;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  position: relative;
}
.product {
  min-width: 100px;
  width: 10.4%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product a::before {
  content: "+";
  color: #9b9b9b;
  position: absolute;
  left: 0;
}
.devices {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 20%;
  right: 0;
}
.devices div {
  width: 20%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid gray;
}
.cart {
  background-color: #7ac64d;
}
.devices div i {
  display: inline-block;
}
main {
  width: 100%;
  height: 93vh;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(https://preview.colorlib.com/theme/webuni/img/bg.jpg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.title {
  position: absolute;
  top: 250px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.title div {
  text-align: center;
  color: white;
  font-size: 55px;
}
.title p {
  text-align: center;
  color: white;
  font-size: 14.1px;
  width: 65%;
  font-weight: 500;
  line-height: 2.2;
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 6;
   -webkit-box-orient: vertical;
}
.authentication {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  left: 15%;
  position: absolute;
  top: 480px;
}
input {
  height: 53px;
  width: 36.4%;
}
button {
  height: 53px;
  width: 20%;
  background-color: #d82a4e;
  border: none;
  color: white;
}
.categories {
  width: 100%;
  position: absolute;
  top: 1040px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.categories div {
  text-align: center;
  color: #474747;
  font-size: 55px;
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}
.categories p {
  text-align: center;
  color: #474747;
  font-size: 14.1px;
  width: 65%;
  font-weight: 500;
  line-height: 2.2;
  overflow: hidden;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
}
.course-category{
  position: absolute;
  display: grid;
  top: 1200px;
grid-template-columns: repeat(3,1fr);
  justify-content: space-evenly;
gap: 20px;
}
.categ{
  min-width: 230px;
  width: 350px;
  height: 400px;
  margin: 30px;
  margin: auto;
}
.image{
width: 100%;
height: 200px;
background-image: url(https://preview.colorlib.com/theme/webuni/img/courses/1.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position:center;

}
.content{
  display: flex;
  justify-content: space-around;

  flex-direction: column;
  height: 200px;
  padding-left: 20px;
  transition: all 0.4s;
  background-color: #edf4f6;
}
.content:hover{
  background-color: #d82a4e;
  color: white;
}
.content p{
color: grey;
}
.content div{
color: #d82a4e;
font-weight: 600;
}

.search {
  left: 10%;
  width: 80%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 2150px;
  height: 250px;
  background-color: #d82a4e;
  flex-direction: column;
}
.course {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 70%;
  height: 100px;
}
.course div {
  width: 90%;
}
.course div input {
  background-color: #edf4f6;
  border: none;
}
.course div input:focus {
  background-color: #edf4f6;
  outline: none;
  border-bottom: #d82a4e solid 1px;
}
.search p {
  color: white;
  font-size: 48px;
  font-weight: 600;
  font-family: sans-serif;
}
.featured {
  position: absolute;
  top: 2500px;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.courses {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.courses div {
  text-align: center;
  color: #474747;
  font-size: 55px;
}
.courses p {
  text-align: center;
  color: #474747;
  font-size: 14.1px;
  width: 65%;
  font-weight: 500;
  line-height: 2.2;
}
ul {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
li {
  font-size: 18px;
  font-weight: 600;
  color: #474747;
  font-family: sans-serif;
}
.list {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px;
  
}
.item {
  position: relative;
  width: 100%;
  height: 450px;
  margin: 10px;
  background-color: #edf4f6;
  margin-top: 20px;
}
.description {
  margin-left: 20px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
}
h5 {
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
  color: #474747;
}
.description p {
  color: #878787;
  width: 70%;
}
.description div {
  font-size: 18px;
  font-weight: 600;
  color: #d82a4e;
}
.card img {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.card {
  width: 100%;

  margin-right: 40px;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: row;
  margin-top: 10px;
}
.card p {
  font-weight: 600;
  font-size: 14.1px;
  color: #878787;
  line-height: 2.2;
}
.card div div {
  font-weight: 600;
  font-size: 14.1px;
  color: #878787;
  line-height: 2.2;
  font-family: sans-serif;
  color: #d82a4e;
}
.price {
  text-align: center;
  position: absolute;
  width: 107px;
  height: 50px;
  background-color: #d82a4e;
  color: white;
  top: 20px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.dropmenu {
  display: none;
}
.bar {
  border: 1.6px solid white;

  position: absolute;
  width: 30px;
  height: 0px;
}
.one {
  position: absolute;
  top: 0;
}
.two {
  position: absolute;
  top: 9px;
}
.three {
  position: absolute;
  top: 18px;
}
@media screen and (max-width: 1140px) {
  .course-category{
grid-template-columns: repeat(2,1fr);
  }
  .search{
    top: 2500px;
  }
  .featured{
    top: 2800px;

  }
  .list{
    grid-template-columns: repeat(3,1fr);

  }
  
}
@media screen and (max-width: 780px) {
  
  .list{
    grid-template-columns: repeat(2,1fr);
  
  }
  .course-category{
  grid-template-columns: repeat(1,1fr);
  }
  .devices {
    display: none;
  }
  .dropmenu {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 30px;
    height: 100px;
    margin-top: 20px;
    margin-right: 20px;
  }
  .menu2{
    position: static;
  }
  .pages{
display: none;
  }
  .menu{
    position: relative;
  }
  nav{
    width: 90%;
    flex-direction: column;
    height: 120px;
    align-items: center;
    position: static;
  }
  .authentication{
    position: static;
    flex-direction: column;
    height: 215px;
    top: 800px;
  }
  .title{
      position: static;
      
    }
    .authentication input {
      width: 100%;
    }
    main{
      justify-content: space-around;
    }
    .authentication button{
      width: 100%;
    }
    .search{
      height: 500px;
    }
    .course{
      height: 200px;
      width: 80%;
    }
    .course div{
      flex-direction: column;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.course div input,.course div button{
  width: 100%;
}
.search p {
  text-align: center;
}
.featured{
  height: 1200px;
}
.featured .courses p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  text-align: center;
}
ul{
  flex-direction: column;
  height: 200px;
}
li{
  text-align: center;
}
.list{
  flex-wrap: wrap;
  height: 500px;
}
.list .item{
min-width: 190px;
margin: 0 10px;
}
.search{
  top: 3750px;
}
.featured{
  top: 4300px;

}
}
@media screen and (max-width: 600px) {
.featured{
  height: 2750px;
}
  .list{
    grid-template-columns: repeat(1,1fr);
height: 2000px;  }
.item{
  height: 700px;
}
}